body{
   background-image: url('./image/watercolor.jpg');
   background-attachment: fixed;
   margin: 30px;

}
/* navigation  */
.navigation{
    margin: -30px;
    padding: 40px;
    text-align:center;
    /* background-image: url('./image/stars.png'); */
}


h2{
   color: #daa84a;
   font-size: 50px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tab a:link, a:visited {
    color: #e2b561;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid #f9f9f8;
}

.active{
    background-color: #ffffff
}
  
.tab a:hover, a:active {
    background-color: #ffffff;
}

.tab{
    display: flex;
    justify-content: space-evenly;
}

/* Aboutme */
.aboutme{
    margin: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

#introduction{
    margin: auto;
    width: 40%;
    text-align: center;
    padding: 20px;
    line-height: 2;
    background-color:#855c0f;
}

form{
    width: 50px;
}
   
/* Portfolio */

.containerP{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 100px;
}

.containerP h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.list-group-item{
    margin-left: 20px;
    display: inline-flex;
    justify-content: center;
    flex:wrap;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #daa84a;
    text-align: center;
}

/* Contact */

.contact{
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 10%;
   margin-bottom: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #daa84a;
   color: white;
}

.formC{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -70px;
    padding: 30px;
    border: #daa84a;

}

.label{
   margin: 0px;
}

/* footer */
.conatainer-footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* /* background-color: rgb(110, 131, 148); */
}

.logo{
    padding: 10px;
    margin: 10px;
}

